html {
    font-family: GillSans, sans-serif;
  }
h1 {
  font-family: Roboto;
}
p {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.7em;
  text-align: left;
  width: 100%;
}
.image {
  background-image: url("images/profile.jpg");
  background-size: cover;
  background-position: center;
  height: 400px;
  width: 400px;
}
.caption {
  background-color: rgba(0, 0, 0, 0.6);
  color: rgba(255, 255, 255, 0.65);
  display: block;
  font-family: Arial, serif;
  font-size: 14px;
  font-style: italic;
  line-height: 14px;
  margin-left: 20px;
  padding: 10px;
  position: relative;
  top: 90%;
  width: 60%;
}
